{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}Create TShirt{% endblock %}

{#{% block meta_keywords %}{% metablock %}#}
{#{% keywords_for page as keywords %}#}
{#{% for keyword in keywords %}#}
{#    {% if not forloop.first %}, {% endif %}#}
{#    {{ keyword }}#}
{#{% endfor %}#}
{#{% endmetablock %}{% endblock %}#}

{#{% block meta_description %}{% metablock %}#}
{#{{ page.description }}#}
{#{% endmetablock %}{% endblock %}#}

{% block title %}
    Create TShirt
{% endblock %}

{% block main %}

<div id="contact-form">
<h3>
Upload your image and additional notes.
</h3>

<h4 style="color:#0088CC;">Use PNG images for transparent backgrounds.</h4>

<form enctype="multipart/form-data" action="/create-tshirt/" method="post" id="create-shirt" autocomplete="on">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

</div>


{% endblock %}
