{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}Create TShirt{% endblock %}

{% block extra_js %}
<script type="text/javascript">
{# SUBMIT FOR ANCHOR CLICK #}
//$(document).ready(function(){
////    alert($('#logo:input').val());
//    $('#logo:input').focus(function(event) {
//        alert($('#logo:input').val());
//    });
//});
</script>
{% endblock %}

{% block title %}Create TShirt{% endblock %}

{% block main %}

<div id="contact-form">
<h3>Upload your image and additional notes.</h3>

{#<h4 style="color:#0088CC;">Use PNG images for transparent backgrounds.</h4>#}

<form enctype="multipart/form-data" action="/create-tshirt/" method="post" id="create-shirt" autocomplete="on">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Upload Image" />
</form>

</div>


{% endblock %}
