{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}Create TShirt{% endblock %}

{#{% block meta_keywords %}{% metablock %}#}
{#{% keywords_for page as keywords %}#}
{#{% for keyword in keywords %}#}
{#    {% if not forloop.first %}, {% endif %}#}
{#    {{ keyword }}#}
{#{% endfor %}#}
{#{% endmetablock %}{% endblock %}#}

{#{% block meta_description %}{% metablock %}#}
{#{{ page.description }}#}
{#{% endmetablock %}{% endblock %}#}

{% block title %}
    Create TShirt
{% endblock %}

{% block main %}

<div id="contact-form">
<p>
Design or enhance your logo
</p>
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
        codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab"
        width="920" height="650" id="test1">
        <param name="movie" value="{{ STATIC_URL }}media/Tshirts.swf" />
        <embed src="{{ STATIC_URL }}media/Tshirts.swf"
            width="920" height="650"
            name="test1"
            type="application/x-shockwave-flash"
            pluginspage="http://www.adobe.com/go/getflashplayer"></embed>
</object>
</div>


{% endblock %}