{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}Edit My TShirt{% endblock %}

{#{% block meta_keywords %}{% metablock %}#}
{#{% keywords_for page as keywords %}#}
{#{% for keyword in keywords %}#}
{#    {% if not forloop.first %}, {% endif %}#}
{#    {{ keyword }}#}
{#{% endfor %}#}
{#{% endmetablock %}{% endblock %}#}

{#{% block meta_description %}{% metablock %}#}
{#{{ page.description }}#}
{#{% endmetablock %}{% endblock %}#}

{% block title %}
    Edit My TShirt
{% endblock %}

{% block main %}
    <div id="edit">
    <h2><a target="_blank" href="{{ STATIC_URL }}media/{{ tshirt.logo }}">View Current Logo</a> for <em>{{ tshirt.title }}</em></h2>
    <h3> To edit <em><a href="/preview/{{ tshirt.id }}/?logo={{ tshirt.logo }}&col={{ tshirt.color }}">{{ tshirt.title }}</a></em> please upload your new logo</h3>
    <div id="contact-form">
    <form enctype="multipart/form-data" action="/my-tshirts/edit/{{ tshirt.id }}/" method="post" id="create-shirt" autocomplete="on">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Upload Image" />
    </form>
    </div>
    </div>
{% endblock %}
