{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}Your design has been submitted!{% endblock %}

{#{% block meta_keywords %}{% metablock %}#}
{#{% keywords_for page as keywords %}#}
{#{% for keyword in keywords %}#}
{#    {% if not forloop.first %}, {% endif %}#}
{#    {{ keyword }}#}
{#{% endfor %}#}
{#{% endmetablock %}{% endblock %}#}

{#{% block meta_description %}{% metablock %}#}
{#{{ page.description }}#}
{#{% endmetablock %}{% endblock %}#}

{% block title %}
    Your design has been submitted!
{% endblock %}

{% block main %}

    <h2>Your design has been submitted!</h2>
    
{% endblock %}
