{% extends "base.html" %}

{% load i18n %}
{% block meta_title %}{% trans "Home" %}{% endblock %}

{% block extra_js %}
<script type="text/javascript">
{# SUBMIT FOR ANCHOR CLICK #}
$(document).ready(function(){
$("a.btn_home_login").click(function(event) {
    event.preventDefault();
    $("form#formID").submit();
});

{# SUBMIT FOR ON ENTER PRESS #}
$(window).keyup(function(e){
    var code = e.which;
    if(code==13)e.preventDefault();
    if(code==32||code==13||code==188||code==186){
        $("form#formID").submit();
    }
});
});
</script>
{% endblock %}

{% block title %}
{% trans "Home" %}
{% endblock %}

{#{% block breadcrumb_menu %}#}
{#<li class="active">{% trans "Home" %}</li>#}
{#{% endblock %}#}

{% block jumbotron %}
{#<hr style=""/>#}
{% if not user.is_authenticated %}
<hr style=""/>
<div id="home-jumbo-not-logged">

<fieldset>
<form method="post" action="/accounts/login/" id="formID">

{% csrf_token %}
<div id="home-form-actions">
{#<input class="btn_home btn-large-home" type="submit" value="Login">#}

<a href="{% url signup %}?next={{ request.path }}"
    class="btn_home btn_home_login" id="home_login">{% trans "LOG IN" %}</a>

<a href="{% url signup %}?next={{ request.path }}"
    class="btn_home btn_home_signup">{% trans "SIGN UP" %}</a>
</div>

<div class="control-group control-group_home input_id_username input_id_username_home">
    <label for="id_username">USERNAME OR EMAIL ADDRESS</label>
    <div class="controls input_id_username_home">
        <input autofocus="" required="" type="text" name="username" id="id_username"/>
        <span class="help-inline"></span>
    </div>
</div>

<div class="control-group control-group_home input_id_password input_id_password_home">
    <label for="id_password">PASSWORD</label>
    <div class="controls input_id_password_home">
        <input required="" type="password" name="password" id="id_password" />
        <span class="help-inline"></span>
    </div>
</div>
    
</form>
</fieldset>
</div>
{% else %}
    <div id="home-jumbo-logged-in">
    &nbsp;
    </div>
    <div id="instructions">
    <p>Now that you've created your account, you can get started on designing!</p>

    <div id="leftinstructions">
    <h4>STEP 1</h4>
    <p>Go to the Create Products tab and use our special app to submit your design. Please note that specific file formats are required.</p>

    <h4>STEP 2</h4>
    <p>You will receive an email confirming your design submission. Look over it and make sure everything is correct.</p>

    <h4>STEP 3</h4>
    <p>We'll start on production. It the meantime, you can start planning out strategic drives on your channel to help promote your product.</p>
    </div>

    <div id="rightinstructions">
    <h4>STEP 4</h4>
    <p>Your product will be available to touch, feel and wear within 3 weeks of your approval.</p>

    <h4>STEP 5</h4>
    <p>Our team will notify you once your product is live on www.rodeoarcade.com and provide you with further instructions on how you can post, tweet, share and promote on your personal website!</p>
    </div>
    
    </div>
{% endif %}
{% endblock %}


{% block main %}
{% endblock %}
