{% extends "base.html" %}

{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}

{% block title %}
{% trans "Home" %}
{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% trans "Home" %}

{% if not user.is_authenticated %}
<fieldset>
<form method="post" action="/accounts/login/">
{% csrf_token %}
<div class="control-group input_id_username">
    <label for="id_username">Username or email address</label>
    <div class="controls">
        <input autofocus="" required="" type="text" name="username" id="id_username" />
        <span class="help-inline"></span>
    </div>
</div>

<div class="control-group input_id_password">
    <label for="id_password">Password</label>
    <div class="controls">
        <input required="" type="password" name="password" id="id_password" />
        <span class="help-inline"></span>
    </div>
</div>
    
<div class="form-actions">
    <input class="btn btn-primary btn-large" type="submit" value="Login">
    <a href="{% url signup %}?next={{ request.path }}"
        class="btn btn-primary btn-large">{% trans "Sign up" %}</a>
</div>
</form>
</fieldset>
{% endif %}
    
{% endblock %}
